<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<br/><br/>
<div class="container"><div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">Selecciona un archivo</span>
            <form action="upload" method="post" enctype="multipart/form-data">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="file"/>
                    </div>
                    <input class="file-path validate" type="text" name="filename"/>
                </div>
                <div class="input-field col s6">
                    <input class="file-path validate" type="text" name="version"/>
                    <label for="version">Version</label>
                </div>
                <br/>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons">file_upload</i>
                </button>
            </form>
        </div>
    </div>
</div></div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue"
       href="/files">
        <i class="large material-icons">reply</i>
    </a>
</div>